body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    height: 100vh;;
    gap: 10px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.editor-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.console-container {
    background: #1e1e1e;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 10px;
}

.console-container h3 {
    margin: 0 0 10px 0;
    color: #fff;
    font-size: 14px;
}

#console {
    background: #1e1e1e;
    color: white;
    height: 150px;
    overflow: auto;
    padding: 5px;
    font-family: 'Courier New', monospace;
    font-size: 12px;
}

.tabs {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.tab {
    background: #333;
    border: none;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
}

.tab.active {
    background: #007acc;
}

textarea {
    width: 100%;
    height: 100px;
    background: #2e2e2e;
    color: white;
    margin-bottom: 10px;
}

button {
    background: #007acc;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    color: white;
    border-radius: 3px;;
}
.preview-container {
    flex: 1;
    background: white;
}

iframe {
    height: 100%;
    width: 100%;
    border: none;
}

.libs {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.lib-btn {
    background: #555;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.lib-btn:hover {
    background: #007acc;
}

#exportBtn {
    background: #0a84ff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#importBtn {
    background: #444;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}